<?xml version="1.0"?>
<configuration>
  
  
   <connectionStrings>
   
     <!-- casuarinacurry-->
     <!-- <add name="PMS" connectionString="Data Source=72.9.151.125\SQLEXPRESS;Initial Catalog=Casuarinacurry;Persist Security Info=True;User ID=curry;Password=C@suAr!NacuRry" providerName="System.Data.SqlClient"/>-->
     
     <!--<!info3s>-->
     <!--<add name="PMS" connectionString="Data Source=72.9.151.125\SQLEXPRESS;Initial Catalog=BizCRM_Sreenu;Persist Security Info=True;User ID=sreenu;Password=B!zSreeNu" providerName="System.Data.SqlClient"/>-->

     <!--UAT-->
    <!-- <add name="PMS" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=BCRM_UAT;Persist Security Info=True;User ID=crmtest;Password=India~12#" providerName="System.Data.SqlClient"/>
     <add name="PayGate" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=BCRM_UAT;Persist Security Info=True;User ID=crmtest;Password=India~12#" providerName="System.Data.SqlClient" />-->
    <!--Test-->
     <add name="PMS" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=BCRM_TEST;Persist Security Info=True;User ID=crmtest;Password=India~12$" providerName="System.Data.SqlClient"/>
    <add name="PayGate" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=BCRM_TEST;Persist Security Info=True;User ID=crmtest;Password=India~12$" providerName="System.Data.SqlClient" />
    <!--Micromax-->
    <!--<add name="PMS" connectionString="Data Source=111.118.188.128;Initial Catalog=Micromax;Persist Security Info=True;User ID=micromax;Password=Micr0M@x3#" providerName="System.Data.SqlClient" />-->
    <!--PCSUAE-->
    <!--<add name="PMS" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=PCSUAE;Persist Security Info=True;User ID=pcs;Password=Pc$@123" providerName="System.Data.SqlClient" />-->
    <!--ISTASKSNEW-->
    <!-- <add name="PMS" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=ISTASKS_NEW;Persist Security Info=True;User ID=is;Password=!nn0v@tU$" providerName="System.Data.SqlClient"/>-->
    <!--NVR-->
    <!--<add name="PMS" connectionString="Data Source=111.118.188.128\SQLEXPRESS;Initial Catalog=ISTASKS_NVR;Persist Security Info=True;User ID=vr;Password=V@nk(t@1" providerName="System.Data.SqlClient" />-->
    <!--covaiproperty-->
    <!--<add name="PMS" connectionString="Data Source=49.50.77.8;Initial Catalog=CPC_BCRM;Persist Security Info=True;User ID=cpc;Password=CpC@123" providerName="System.Data.SqlClient"/>-->
    <!--india battery service-->
    <!--<add name="PMS" connectionString="Data Source=111.118.188.128\sqlexpress;Initial Catalog=IBS_BCRM;Persist Security Info=True;User ID=ibs;Password=IB$i$task$" providerName="System.Data.SqlClient"/>-->
    <!--BelieveUs-->
    <!--<add name="PMS" connectionString="Data Source=111.118.188.128\sqlexpress;Initial Catalog=BVUS;Persist Security Info=True;User ID=sudhakar;Password=SuDh@K@R~1@" providerName="System.Data.SqlClient"/>s-->
  </connectionStrings>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=30;" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        validate="false" />
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false" />
    </httpHandlers>
    <sessionState timeout="1440"/>
    <machineKey validationKey="9EB38A8EAB69078313EF6AF843B8562F263CCA577AF886FF6EB073D6746F2343569F954FCD8F7B2BEF8269B6290303A9BB99D43192D592054A45E4507FC23CA2" decryptionKey="E3882511EFE6E8D344E8CF8F9FD46F24C79DD7689DCB0BE547A171484208423A" validation="SHA1" decryption="AES"/>
    
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="Telerik.Web.Design, Version=2014.1.403.40, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
        
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="240" maxRequestLength="20480"/>
    <authentication mode="Forms">
      <forms defaultUrl="~/Home.aspx" loginUrl="~/Login.aspx" slidingExpiration="true" timeout="2880"/>
    </authentication>
    <customErrors mode="Off"/>  

    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </controls>
    </pages>

   
   
    
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
        path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="Telerik_Web_UI_WebResource_axd" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>