

 .style3
        {
            font-size: medium;
            font-family: Calibri;
            color:black;
            
        }

  .style2
        {
            width: 137px;
            font-family: calibri;
        }
        .rightAlign
        {
            text-align: right;
        }
        .label1
        {
            font-size: medium;
            font-family: Calibri;
            color: Blue;
        }
   
  
